body {
    background-color: cyan;
  }
h1 {
    color: rgb(226, 34, 130);
    background-color:purple;
}
table, th, td {
    border: 3px dotted;
    padding: 3px;
  }
  img {
    border-radius: 50%;
  }
  
